# Auto detect text files and perform LF normalization
* text=auto

https://pt.stackoverflow.com/questions/288878/como-dispor-imagens-uma-ao-lado-da-outra-com-t%C3%ADtulos-abaixo-em-css imagem lado a lado